* {
  padding: 0px;
  margin: 0px;
}
.container {
  max-width: 1200px;
  margin: 0px auto;
}
body {
  font-family: "Inter", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-armio {
  font-family: "Arimo", sans-serif;
}
.common-btn {
  color: white;
  background-color: #1d4ed8;
  outline: none;
  border: none;
  border-radius: 10px;
}

/* nav section  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 25px;
}
.nav-items li a {
  text-decoration: none;
  color: #717171;
}
.navbar button {
  padding: 10px 30px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
/* nav section end */

/* banner start */
.banner-root {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/image/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
}
.banner {
  color: white;
  text-align: center;
  padding: 130px 450px 100px;
}
.banner h1 {
  font-weight: 900;
  font-size: 50px;
}
.banner p {
  margin-top: 30px;
  color: #d1d1d2;
}
.banner button {
  padding: 20px 70px;
  margin-top: 300px;
  font-weight: 600;
  font-size: large;
}
/* banner end */
